body{
    background-color: #f4f4f4;
    color: #666666;
    overflow-x: hidden;
}

.bg-hero {
    background-color: #333;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 650px;
}

.logo-header {
    max-width: 175px;
}

.header-text {
    font-size: 60px;
    color: #ffffff;
    text-shadow: 2px 2px #8e8e8e;
    height: 500px;
    padding-top: 150px;
}

.btn1 {
    background-color: #e01f24;
    color: #ffffff;
    padding: 10px 40px 10px 40px;
    font-weight: 600;
}

.btn2 {
    background-color: #333;
    color: #ffffff;
    padding: 10px 40px 10px 40px;
    font-weight: 600;
}

.bx-shadow {
    box-shadow:  0 1px 2px 0 rgba(0,0,0,.11);
    border: none;
    border-radius: 5px;
}

.cards-promote {
    width: 100%;
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
}


#footer {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

#footer a {
    color: #eaeaea;
}

.playstore-img {
    max-width: 125px;
}

.footer-heading {
    color: #ffffff;
}

/* .logofoot {
    max-width: 300px;
} */

.light-text {
    color:#eaeaea;
}

th {
        vertical-align: top;
        padding-right: 10px;
}
.card-promote {

    align-content: center;
    padding-left: 5px;
    align-items: center;

}

/* .card-img {
    width: 175%;
} */

.card-img1 {
    width: 100%;
}

h3, h4, h5 {
    color: #666666;
}

h1 {
    color: #333;
}

p {
    color: #666666;
    font-size: 14px;
}

h6 {
    color: #0287d7;
}

.page-link {
    color: #666666;
}

.card-t1 {
    color: #0287d7;
}

.color-grey {
    color: #666666;
}

.color-dark {
    color: #333;
}

.color-red {
    color: #e01f24;
}

label.error {
    color: #e01f24;
    font-size: 13px;
}

.premium-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    position: relative;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    overflow: hidden;
}

.premium-img::before {
    content: 'PREMIUM';
    padding: 10px 50px;
    background-color: #0287d7;
    color:#ffffff;
    position: absolute;
    display: block;
    top: 0;
}

img {
    max-width: 100%;
}

/* .left-info {
    float: right;
} */

.hero-tagline{
    font-size: 60px;
}

@media only screen and (max-width: 991px) {

       .header-text {
    color: #ffffff;
    text-shadow: 2px 2px #8e8e8e;
    height: 500px;
    padding-top: 80px;
}

/* .hero-tagline{
    font-size: 60px;
} */

    .premium-img::before {
    content: 'PREMIUM';
    padding: 5px 25px;
    background-color: #0287d7;
    color:#ffffff;
    position: absolute;
    display: block;
    top: 0;
}

.premium-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 215px;
    position: relative;
}

#promote {
    display: none;
}

/* .card-t1 {
    float: left;
} */

.left-info {
    /* float: left; */
    padding-top: 10px;
}

/* .card-text {
    float: left;
} */

.fixed-nav {
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: #ffffff;
}

#navbarSupportedContent {
    padding: 20px;
}

.hero-text{
    padding-top: 175px;
}

}


@media only screen and (max-width: 767px) {
    .agent-partner {
        padding-top: 45px;
    }
}


.icons-property {
    max-width: 20px;
}

.modal-content iframe{
    margin: 0 auto;
    display: block;
}

@media (max-width: 576px) {
    .header-text {
    color: #ffffff;
    text-shadow: 2px 2px #8e8e8e;
    height: 500px;
    padding-top: 17px;
}

.hero-tagline{
    font-size: 40px;
}
}

@media (min-width: 576px) {
    .filter-form .form-group,
    .filter-form .form-control {
        flex: 1;
    }
}